---                               
import NavBar from "../components/global/NavBar.astro";
import "./src/styles/global.css";
import '@fontsource/roboto';
---                         

<!doctype html>
<html lang="en" class="flex flex-col items-center m-0 h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Breakio Web</title>
	</head>
	<body class="m-0 w-full h-full max-w-[1440px]">
		<NavBar/>
		<slot />
	</body>
</html>
