---
import Image from "astro/components/Image.astro";
---

<section class="flex flex-col items-center gap-8 px-4 py-12">
    <div class="flex flex-col gap-6 items-center">
        <div class="space-y-6">
            <h1 class="text-2xl font-bold text-center bg-gradient-to-r from-fuchsia-600 to-fuchsia-800 bg-clip-text 
                text-transparent sm:text-3xl xl:text-[72px] xl:font-extrabold"
            >
                It’s time to take a break
            </h1>

            <p class="text-xs text-center text-gray-600 sm:text-base xl:text-xl">
                Build your meditation skills with an app that gives you all you need!
            </p>
        </div>

        <form action="" class="flex gap-2 sm:gap-8 justify-between w-full max-w-[700px]">
            <input 
                type="text" 
                name="name"
                placeholder="Enter your name"
                class="w-full px-3 sm:px-6 border-[1px] rounded-[19px] placeholder:text-sm placeholder:text-gray-600 
                border-gray-300 focus:outline-fuchsia-600 focus:text-fuchsia-600"
            />
            
            <button 
                type="submit" 
                class="min-w-28 sm:min-w-32 p-2 sm:p-3 border rounded-[19px] bg-fuchsia-600 border-fuchsia-600 text-center 
                text-white font-medium hover:bg-white hover:text-fuchsia-600 transition-all"
            >
                Start Now
            </button>
        </form>
    </div>

    <Image 
        src="/images/picture1_mobile.jpg" 
        alt="Team Picture" 
        width={300} 
        height={222}
        class="md:hidden"
    />

    <Image 
        src="/images/picture1_desktop.jpg" 
        alt="Team Picture" 
        width={1280} 
        height={465}
        class="hidden xl:block"
    />
</section>